header {
    font-family: 'Fira Sans', sans-serif;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.card {
    flex: 0 0 auto;
}

